body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    background-repeat: repeat;
}

.container {
    width: 50%;
    margin: 40px auto;
    text-align: center;
    background-color: burlywood;
    padding: 20px 20px 2px 20px;
}

h1,
h2 {
    font-family: Impact, serif;
}

h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    margin-bottom: 0px;
}

hr {
    border: 2px solid brown
}

article p {
    display: inline-block;
    width: 49%;
    font-size: 18px;
    margin: 5px 0px;
}

article p.left {
    text-align: left;
}

article p.right {
    text-align: right;
}

a {
    color: rgb(0, 0, 0);
}