* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color: #0a0a23;
    color: #fff;
    padding: 32px 0px;
    border-bottom: 4px solid #fdb347;
}

h1 {
    margin: 22px 0;
    text-align: center;
}

.container {
    width: 55vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    margin: 0px auto;
    gap: 16px;
}

img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}